*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

#viysko {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 99vw;
    height: 75px;
    background-color: rgb(65, 81, 65);
    color: white;
    z-index: -1;
}

#hrudnya {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 99vw;
    height: 75px;
    z-index: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(116, 153, 116);
    animation: Hrudnya 4s infinite;
}

@keyframes Hrudnya {
    0% {background-color: rgba(116, 153, 116)}
    25% {background-color: rgba(116, 153, 116)}
    50% {color: rgba(0,0,0,0); background-color: rgba(116, 153, 116, 0)}
    66% {color: rgba(0,0,0,0); background-color: rgba(116, 153, 116, 0)}
    100% {background-color: rgba(116, 153, 116, 0)}
}

#greyStripe {
    position: fixed;
    top: 75px;
    height: 18px;
    width: 100vw;
    background-color: rgb(244, 245, 247);
}

#smallNav {
    position: fixed;
    top: 93px;
    width: 100vw;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: white;
}

#smallNav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    list-style-type: none;
    width: 700px;
    height: 100%;
}

#smallNav a {
    text-decoration: none;
    font-size: 0.7em;
    font-weight: 900;
    color: black;
}

#smallNav li:first-of-type a {
    color: rgb(167, 3, 3);
}

#bigNav {
    position: fixed;
    top: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 98.5vw;
    height: 87px;
    background-color: rgb(126, 0, 25);
}

#bigNav li {
    text-align: center;
}

#bigNav li:first-of-type {
    width: 180px;
    text-align: left;
    padding-left: 10px;
}

#bigNav a, #bigNav p {
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
}

#pravda > a {
    font-size: 2.2em;
    font-family: 'Times New Roman', Times, serif;
}

#pravda > p {
    font-weight: normal;
}

#club {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    height: 100%;
}

#ukr {
    color: rgba(235, 192, 227, 0.411);
}

#bp {
    width: 90px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(179, 12, 29);
    border: 3px solid white;
    border-radius: 40px;
}

#bp:hover {
    color: rgb(241, 212, 212);
    border-color: rgb(241, 212, 212);
}

#smallNav2 {
    position: fixed;
    top: 215px;
    width: 100vw;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: white;
    border-bottom: 2px solid lightgrey;
}

#smallNav2 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    list-style-type: none;
    width: 900px;
    height: 100%; 
}


#smallNav2 a {
    text-decoration: none;
    font-size: 0.82em;
    font-weight: 900;
    color: black;
}

#smallNav2 li:first-of-type a {
    color: rgb(167, 3, 3);
}

#ttss {
    position: relative;
    top: 280px;
}

main {
    position: absolute;
    top: 280px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1400px;
    z-index: -2;
}

#covid {
    text-decoration: none;
    color: rgb(184, 20, 20);
}

#covidContainer > p {
    color: black;
    font-size: 0.85em;
}

#covidContainer > h4 {
    font-size: 0.8em;
}

#covidContainer {
    margin-top: 10px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

#covidBlocks {
    margin-top: 5px;
    height: 80px;
    width: 1380px;
    display: flex;
    justify-content: stretch;
}

#covidBlocks img {
    border: 1px solid grey;
    margin-right: 5px;
    width: 100%;
}

#covidBlocks img:last-of-type {
    margin-right: 0;
}

main  p {
    font-size: 0.9em;
    margin: 10px 0;
}

main > h4 {
    color: rgb(184, 20, 20);
    font-size: 0.8em;
    font-weight: 300;
}

#firstContainer {
    display: flex;
    height: 450px;
    max-height: 40vw;
    align-items: stretch;
}

#firstContainer a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    text-align: justify;
}

#firstContainer h4 {
    font-size: 0.85em;
}

#leftNews {
    flex: 1;
    display: flex;
    height: 100%;
    margin-right: 10px;
}

#col1 {
    flex: 1;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#col1 img {
    width: 100%;
}

#col2 {
    flex: 1;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#col2 img {
    width: 100%;
}

#col2 h4 {
    border-bottom: 2px solid grey;
    padding-bottom: 10px;
}

#allNews > p {
  font-size: 0.7em;
  color: rgb(184, 20, 20);
}

#rightNews {
    flex: 1;
    margin-left: 10px;
}

#rightNews img {
    width: 100%;
}

#rightNews > a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#rightNews h4 {
    font-size: 1.5em;
    text-align: left;
    font-weight: 800;
    line-height: 1em;;
}

#rightNews p {
    font-size: 0.6em;
}

#test {
    margin: 100px;
    width: 900px;
    height: 200px;
    background-color: rgb(197, 197, 118);
    margin-bottom: 150px;
    overflow: auto;
}

#test2 {
    width: 1350px;
    background-color: turquoise;
}

@media screen and (max-width: 800px) {
    #smallNav {
        display: none;
    }

    #usiRozdily {
        display: none;
    }

    #hamMenu a {
        color: black;
    }

    #hamMenu {
        display: none;
    }

    #chckbox {
        display: none;
    }

    #chckbox:checked ~ #hamMenu {
        display: block;
    }

 #smallNav2 {
     display: none;
 }

 #pravda a {
     font-size: 1.5em;;
 }

 #pravda p {
     display: none;
 }

 #club {
    width: unset;
    margin-right: 5px;
 }

 #club a:first-of-type {
     display: none;
 }

}